# Ignorar dependencias y builds
node_modules/

**/node_modules/
dist/
build/
.vite/
.svelte-kit/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Entornos
.env
.env.*
!.env.example

# Editor / SO
.DS_Store
Thumbs.db
.idea/
.vscode/

# Asegurar que estos proyectos Svelte SÍ se suben
!svelte-express-dashboard/
!svelte-express-dashboard/**
!svelte-tailwind-counters/
!svelte-tailwind-counters/**
!svelte-tailwind-crm/
!svelte-tailwind-crm/** 


svelte-express-dashboard/node_modules
svelte-tailwind-counters/node_modules
svelte-tailwind-crm/node_modules